body {
	margin: 5% auto;
	text-align: center;
	background-color: #034567;
	color: #FFF;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
	font-size: 10pt;
}

.formContainerCenter {
	background-color: #F7F7CD;
	border: 5px solid #000;
	margin: 0 auto;
	padding: 10px;
	width: 30%;
	max-width: 30%;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	box-shadow: 10px 10px 30px #000;
	-moz-box-shadow: 10px 10px 30px #000;
	-webkit-box-shadow: 10px 10px 30px #000;
	color: #000;
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
}

.formContainerTop {
	background-color: #034567;
	color: #FFF;
	position: relative;
}

#start {
	font-size: 10pt;
	font-style: italic;
}

#taskTitle {
 	color: black;
 }

#instructions {
 	margin: 0 auto;
	font-style: italic;
	font-size: 10pt;
	font-weight: lighter;
}

#itemList {
	width: 80%;
	margin: 5px auto;
}

.item {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 10px 10px 30px #000;
	-moz-box-shadow: 10px 10px 30px #000;
	-webkit-box-shadow: 10px 10px 30px #000;
	border: 1px solid #000;
	margin: 15px auto; 
	padding: 5px;
	max-width: 75%;
}

.item .itemTitle {
	color: #FFF;
	font-size: 14pt;
	text-align: left;
	padding-left: 20px;
	padding-top: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-bottom: 1px dashed #FFF;
}

.item .itemDescription {
	color: #FFF;
	text-align: center;
	font-style: italic;
	font-size: 10pt;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 7px;
	margin-bottom: 5px;
}
